# Configurações de Servidor SMTP do Outlook com autenticações do Usuario

EMAIL_HOST = #endereço server SMTP
EMAIL_PORT = #numero da porta
EMAIL_USER = #email de autenticacao
EMAIL_PASSWORD = #senha do email
